* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headstext {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.08em;
    font-size: 17px;
    padding: 20px;
}

.dropdown-item {
    color: $color-grey;
}

div.dropdown-multicol2 {
    width: 65em;
    margin-top: 20px;
}

div.dropdown-multicol2>div.dropdown-col {
    display: inline-block;
    width: 23%;
}

header {
    width: 100%;
    padding: 10px 28px;
    position: fixed;
    background-color: $color-white;
    z-index: 1;
    box-shadow: 0 0 0 0.2rem rgba(156, 155, 155, 0.25);

    nav {
        ul {
            margin-left: 25px;
            padding: 0px 28px;
        }

        .collapseDiv {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .iconsearch {
                display: flex;
                align-items: center;
                justify-content: flex-end;


                .form-control {
                    position: relative;
                    padding-left: 28px;
                    border: none;
                    width: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:focus {
                        width: 300px;
                        border: none;
                    }

                }

                .search {
                    padding-left: 7px;
                    position: absolute;
                }
            }
        }

        .icons {
            font-size: 20px;

            .one {

                padding: 18px;
            }
        }
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(57, 58, 60, 0.25);
    }
}

#essenceNew {
    width: 100%;
    height: 600px;
    background: url('/assets/img/bg-1\ \(3\).jpg') no-repeat center/cover;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: #767676;
        margin-top: 28px;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    h1 {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin-bottom: 28px;
    }

    button {
        cursor: pointer;
        font-size: 14px;
        padding: 15px 30px;
        margin: 28px 0px;
        color: $color-white;
        border: none;
        background-color: $color-blue;
        letter-spacing: 0.1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        &:hover {
            background-color: #DA0347;
        }
    }
}



#popularProducts {

    margin: 28px 0px;

    h1 {
        font-family: "Ubuntu", sans-serif;
        font-size: 30px;
        text-align: center;
        font-weight: 600;
    }


}
.justify-content-center {
   
    height: 100px;}

#aboutInf {
    background-color: $color-black;
    padding: 28px;

    #products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
        width: 100%;
        color: $color-whiteness;

        .box {
            width: 250px;

            img {
                padding-bottom: 10px;
                width: 100%;
            }

            p {
                font-size: 25px;
            }

            button {
                cursor: pointer;
                color: $color-whiteness;
                background-color: $color-purple;
                transition: 1s;
                padding: 10px;
                border-radius: 20px;
                border: 1px solid $color-purple;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;

                i {
                    margin-top: 0.5rem;
                    margin: 0 0.3rem;
                }

                &:hover {
                    border: none;
                    background-color: $color-whiteness;
                    color: $color-black;

                }
            }
        }
    }
}

#filtered {
    border: 3px solid $color-black;

    .btn-outline-success {
        background-color: $color-black;
        color: $color-whiteness;
    }

    span {
        font-weight: bold;
        padding-right: 5px;
        color: $color-purple;
    }

    margin: 25px 0;

    .filter {
        input {
            cursor: pointer;
        }
    }

}
#clothes {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 28px 0px;

    .item {
        cursor: pointer;
        padding: 30px 0px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $color-blue;
        }


        img {
            max-width: 100%;
            opacity: 50%;

        }

        p {
            position: absolute;
            letter-spacing: 0.15em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 22px;
        }
    }
}

#sale {
    width: 100%;
    margin: 28px 0px;

    .globalSale {
        background-image: url('/assets/img/bg-5.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 0px;

        .cost {
            margin-top: 28px;
            padding: 30px 0px;

            p {
                color: #DA0347;
                margin-top: 28px;
                font-size: 35px;
                font-family: "Ubuntu", sans-serif;
            }

            h1 {
                font-size: 60px;
                font-weight: 700;
                letter-spacing: 0.1em;
                margin-bottom: 28px;
            }

            button {
                cursor: pointer;
                font-size: 12px;
                line-height: 2rem;
                padding: 5px 30px;
                margin: 28px 0px;
                color: $color-white;
                border: none;
                background-color: $color-blue;
                letter-spacing: 0.1em;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

                &:hover {
                    background-color: #DA0347;
                }
            }


        }
    }
}

#brand {
    margin: 28px 0px 0px;
    padding: 30px 0px;
    background-color: #F5F7F9;

    .brandItem {
        padding: 30px 10px;
        margin: 10px;
    }

    img {
        max-width: 100%;
    }
}

footer {
    background-color: #252525;
    color: $color-white;
    padding: 28px 0px;
}


header nav .collapseDiv {
    display: flex;
    display: none;
}



@media screen and (max-width:992px) and (min-width: 661px) {
    header nav .collapseDiv {
        display: flex;
        display: none;
    }

    .form-inline {
        display: none;
    }
}

@media screen and (min-width:250px) and (max-width: 660px) {
    header nav .collapseDiv {
        display: flex;
        display: none;
    }

    .form-inline {
        display: none;
    }

}