* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#d1002c;
}
header {
    width: 100%;
    background-color: transparent;
    z-index: 1;
    margin-bottom: 30px;
    position: absolute;
    padding: 20px 28px;

    .navbar-brand {
        margin-left: 28px;
        font-size: 30PX;
        font-weight: 700;
    }

    .col {
        width: 90%;

        a {
            color: #333333;
            span {
                color: red;
            }
        }

        .collapseDiv {
            justify-content: flex-end;

            ul {
                gap: 30px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
    }

    
}



.navbar-light .navbar-nav .nav-link {
    color: gray;
    &:hover{
        color: #d1002c;
    }
}

#startProject {
    width: 100%;
    height: 600px;
    background: url('/assets/img/bg_1\ \(1\).jpg') no-repeat center/cover;
    padding: 28px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 40px;
        text-transform: uppercase;
        color: #fff;
        line-height: 1.1;
        font-weight: 900;
    }

    p {
        font-size: 20px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 20px;
    }

    button {
        line-height: 1.5;
        color: white;
        margin-bottom: 20px;
        background: #d1002c;
        border: 1px solid #d1002c;
        padding: 10px 20px;
    }

    .text {
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: end;

        p {
            font-size: 40px;
            font-weight: 800;
            color: #fff;
            margin-bottom: 0;
            padding-right: 15px;
        }

        span {
            color: rgba(255, 255, 255, 0.4);
        }
    }
}

#abouticon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 28px 0px;
    padding: 28px 0px;
    text-align: center;

    .fa-solid {
        margin: 28px 0px;
        font-size: 60px;
    }

    h1 {
        font-size: 40px;
        margin: 28px 0px;
        padding: 28px 0px;
        text-transform: uppercase;
        color: black;
        text-align: center;
        line-height: 1.1;
        font-weight: 900;
    }

    p {
        letter-spacing: 0.1em;
        font-weight: 600;
    }
}

#personal {
    margin: 28px 0px;
    padding: 28px 20px;

    img {
        max-width: 100%;
        height: 400px;
    }

    .div {
        padding: 0px 20px;
        margin-top: 15px;

        h3 {
            font-size: 35px;
            font-weight: 700;
            text-align: right;
            margin-bottom: 20px;

        }

        .reos {
            text-align: right;
        }

        p {
            font-size: 16px;
            line-height: 1.8;
            font-weight: 400;
            color: #a0a0b4;

        }
    }

    button {
        line-height: 1.5;
        color: white;
        margin-bottom: 20px;
        background: #d1002c;
        border: 1px solid #d1002c;
        padding: 10px 20px;
    }

    .count {
        margin: 28px 0px;
        padding: 28px 20px;

        span {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 2px;
            line-height: 1.3;
        }

        .faraway {
            font-size: 16px;
            line-height: 1.8;
            font-weight: 400;
            text-align: center;
            color: #a0a0b4;
        }

        .number {
            margin-right: 28px;
            font-weight: 300;
            font-size: 50px;
            line-height: 1.4;
            border-bottom: 1px solid grey;
            color: #d1002c;
        }
    }

}



#clients {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $color-white;
    position: relative;
    margin-bottom: 28px;
    padding: 20px 0px;


    .clientText {
        margin-top: 20px;
    }

    .cardbox {
        margin: 28px 10px;

        .card {
            width: 100%;
            padding: 20px 15px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            position: absolute;
            position: relative;
            border-radius: 10px;
            margin: 28px;
            bottom: -70px;
            background-color: #F3F3F3;

            .icon {
                width: 50px;
                height: 50px;
                position: absolute;
                color: rgb(138, 8, 8);
                border-radius: 50%;
                padding-top: 10px;
                top: -30px;
                left: 10;

                i {
                    font-size: 50px;
                }
            }

            p {
                margin-top: 28px;
                margin-bottom: 20px;
                font-size: 15px;
                color: $color-grey;
                font-weight: 500;
                text-align: left;

                line-height: 1.5;

            }

            .text {
                width: 90%;
                padding: 10px;
                display: flex;
                justify-content: center;
                justify-content: space-between;
                flex-wrap: wrap;

                img {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                }

                .texts {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        line-height: 1.5;
                        color: $color-grey;
                        margin-bottom: 20px;
                        font-size: 15px;
                        font-weight: 600;

                    }

                    h5 {
                        font-weight: 700;
                        color:$color-black;
                    }


                }
            }
        }
    }

    p {
        letter-spacing: 0.1em;
    }

    h1 {
        font-family: "Lora", serif;
        font-size: 35px;
        color: black;
        line-height: 0.1;
        font-weight: 500;

    }


}



#newRelease {
    width: 100%;

    .headText {
        text-align: center;

        p {
            color: $main-color;
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 15px;
            letter-spacing: 0.3em;
        }

        h1 {
            font-family: "Lora", serif;
            font-size: 55px;
            line-height: 1.1;
            font-weight: 500;
            color: #464547;
        }
    }
}

#popularProducts {

    margin: 28px 0px;

    h1 {
        font-family: "Ubuntu", sans-serif;
        font-size: 30px;
        text-align: center;
        font-weight: 600;
    }


}

.justify-content-center {
   
    height: 100px;}

#aboutInf {
    background-color: $color-black;
    padding: 28px;

    #products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
        width: 100%;
        color: $color-whiteness;

        .box {
            width: 250px;

            img {
                padding-bottom: 10px;
                width: 100%;
            }

            p {
                font-size: 25px;
            }

            button {
                cursor: pointer;
                color: $color-whiteness;
                background-color: $color-purple;
                transition: 1s;
                padding: 10px;
                border-radius: 20px;
                border: 1px solid $color-purple;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;

                i {
                    margin-top: 0.5rem;
                    margin: 0 0.3rem;
                }

                &:hover {
                    border: none;
                    background-color: $color-whiteness;
                    color: $color-black;

                }
            }
        }
    }
}

#filtered {
    border: 3px solid $color-black;

    .btn-outline-success {
        background-color: $color-black;
        color: $color-whiteness;
    }

    span {
        font-weight: bold;
        padding-right: 5px;
        color: $color-purple;
    }

    margin: 25px 0;

    .filter {
        input {
            cursor: pointer;
        }
    }

}
footer {
    background-color: #000000;
    color: $color-white;
    padding: 28px 0px;
    text-align: center;
}