* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(108, 175, 203);
}
.calculator {
    width: 400px;
    margin: auto;
}
button {
    width: 20%;
    height: 40px;
}
input {
    width: 83%;
    height: 50px;
}