* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    width: 100%;
    padding: 20px 0px;
    font-size: 20px;

    form {
        position: relative;

    }

    .btn-outline-success {
        background-color: #E7AB3C;
        padding: 8px 20px;
        border: 1px solid #E7AB3C;
        position: absolute;
        transform: translateX(150px);

        &:hover {
            background-color: #E7AB3C;
            border: 1px solid #E7AB3C;
        }
    }

    img {

        padding: 20px;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding-right: 28px;

        &:hover {
            color: #E7AB3C;
        }
    }

}

#bag {
    background-image: url('/assets/img/hero-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 28px 0px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;


    .kidsBag {
        padding: 28px 0px;
        margin: 28px 0px;

        span {
            margin-top: 28px;
            font-size: 15px;
            color: #E7AB3C;
            letter-spacing: 0.08em;
            text-transform: uppercase;

        }

        h1 {
            font-size: 70px;
        }

        p {
            font-size: 17px;
            font-weight: 300;
        }

        button {
            cursor: pointer;
            margin: 28px 0px;
            padding: 8px 28px;
            color: white;
            background-color: #E7AB3C;
            border: none;
            font-weight: bold;
        }
    }
}

#personClothes {
    padding: 28px 0px;

    img {
        max-width: 100%;
    }

    .item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        letter-spacing: 0.09em;
        margin: 28px 0px;
        cursor: pointer;
    }

    .paraqraf {
        background-color: white;
        text-align: center;
        color: black;
        padding: 3px 20px;
        position: absolute;
    }
}

#backImg {
    padding: 28px 0px;

    img {
        max-width: 100%;
        height: 500px;
    }

    .back {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;

        p {
            margin-top: 10px;
            border-bottom: 2px solid white;
            font-size: 20px;
        }
    }

    .womenclother {
        position: absolute;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 22px;
        font-size: 20px;
        flex-wrap: wrap;
        cursor: pointer;

        li {
            border-bottom: 2px double rgb(128, 94, 0);
            padding: 10px;
        }
    }

}

.about {
    background-color: #F4F1E9;
    color: $color-white;
    color: $color-black;

    .productline {
        margin: 20px 0px 10px;
        width: 50px;
        height: 4px;
        background-color: $color-white;
    }


    #products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
        width: 100%;

        .box {
            width: 200px;
            height: auto;
            border: 2px solid $color-white;
            padding: 10px;
            background-color: #fff;

            p {
                color: $color-black;

            }

            h3 {
                color: $color-orange;
            }

            img {
                max-width: 100%;
            }

            button {
                cursor: pointer;
                color: $color-white;
                background-color: $color-black;
                transition: 1s;
                padding: 10px;
                border-radius: 20px;
                border: 1px solid $color-black;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;

                i {
                    margin-top: 0.5rem;
                    margin: 0 0.3rem;
                }

                &:hover {
                    background-color: $color-white;
                    color: $color-black;
                    border: none;
                }
            }
        }
    }

    .button {
        margin-top: 10px;

        #loadMore {
            color: #fff;
            transition: 1s;
            background-color: $color-black;
            padding: 10px 25px;
            border-radius: 20px;
            cursor: pointer;

            &:hover {
                background-color: $color-white;
                color: $color-black;
            }
        }
    }
}


#formSec {
    padding: 28px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('/assets/img/banner-3\ \(1\).jpg');

    form {
        margin: 28px;
        padding: 30px 0px;

        h1 {
            color: $color-black;
            margin-top: 20px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            letter-spacing: 0.15em;
        }

        label {
            font-weight: bold;
            font-size: 18px;
        }

        width: 50%;

        input:optional {
            color: $color-orange;
            background-color: $color-white;
        }

        input {
            border: 2px solid $color-orange;
        }

        input::placeholder {
            color: #111111;
        }

        p {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            margin: 20px 0;
        }

        button {
            padding: 10px 28px;
            color: #e3dd20;
            background-color: $color-black;
            margin-top: 10px;
            font-weight: bold;
            text-transform: uppercase;
            border: 2px solid $color-black;

            &:hover {
                background-color: transparent;
                color: $color-black;

            }
        }
    }
}


#formDisplay {
    #display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;

        .box {
            background-color: rgb(208, 169, 38);
            width: 250px;
            padding: 25px;
            box-shadow: 0 1px 10px rgb(0, 0, 0.2);

            span {
                font-weight: 500;
                font-size: 18px;
                color: $color-white;
            }

            button {
                cursor: pointer;
                color: $color-white;
                background-color: $color-orange;
                transition: 1s;
                padding: 10px 20px;
                border-radius: 20px;
                border: 1px solid $color-orange;
                display: flex;
                gap: 10px;
                justify-content: center;
                align-items: center;


                &:hover {
                    border: none;
                    background-color: $color-black;
                    color: rgb(164, 165, 243);
                }
            }
        }
    }
}


#dealOfweek {


    background-image: url('/assets/img/time-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 28px 0px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 28px 0px;

    .line {
        background-color: #E7AB3C;
        width: 50px;
        height: 4px;
        margin: 10px 0px;
    }

    .week {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        p {
            font-size: 18px;
            font-weight: 200;
            text-align: center;
            margin: 10px 5px;
            padding: 10px 30px;
        }

        .cost {
            color: #E7AB3C;
            font-size: 30px;
        }

    }

    button {
        cursor: pointer;
        margin: 28px 0px;
        padding: 8px 28px;
        color: white;
        background-color: #E7AB3C;
        border: none;
        font-weight: bold;
        flex-wrap: wrap;
    }

    .second {
        margin-top: 28px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .minute {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

        }

        p {
            font-size: 35px;
            font-weight: bold;
            color: #E7AB3C;
        }

        span {
            font-weight: 300;
            list-style-type: 0.09em;
        }
    }
}

footer {
    display: flex;
    padding: 28px 0px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #191919;
    color: white;

    .foot {
        display: flex;
        justify-content: flex-end;
    }
}